/* RESET  */

:root {
  --rojo: #e50914;
  --blanco: white;
  --gris: #303030;
  --gris-f: #757575;
  --negro: black;
  --tipo-principal: "Netflix Sans Regular";
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

@font-face {
  font-family: Lobster-Regular;
  src: url("Lobster-Regular.ttf");
}

@font-face {
  font-family: EBG;
  src: url("EBGaramond-BoldItalic.ttf");
}

.titulo {
  font-family: EBG;
  font-size: 2.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  text-align: center;
  opacity: 0.6;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
}

.li {
  list-style: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

::selection {
  background-color: var (--negro);
  color: var(--blanco);
}

form,
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  display: flex;
  color: inherit;
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  min-height: 100vh;
  background-color: black;
  color: white;
}

/* FIN RESET */

.cursor {
  position: fixed;
  width: 5em;
  height: 5em;
  background-color: rgb(247, 243, 239);
  border-radius: 50%;
  z-index: 9;
  pointer-events: none;
  mix-blend-mode: difference;
}

.btnup {
  position: fixed;
  bottom: 1%;
  right: 2%;
  mix-blend-mode: difference;
  opacity: 1;
  transition: all ease 1.5s;
  z-index: 999;
}

.btnup svg {
  width: 3em;
  height: 3em;
}

.btnup-hidden {
  visibility: hidden;
  opacity: 0;
}

.btnup svg:hover {
  cursor: pointer;
}

.redsocial {
  transform: scale(0.4);
}

.header {
  width: 100%;
  min-height: 5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2em;
  /* z-index: 2;
  position: relative; */
  /*   display: none; */
}

.header .h1 {
}

.header .h1 .a {
  background-color: antiquewhite;
}

.header .nav {
}

.header .ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header .li {
  margin: 0 1em;
  list-style-type: none;
  margin: 0 1rem;
}

.header .li .a {
}

.circulos {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #262323;
  z-index: 1;
  filter: blur(70px);
  animation: circulo1 15s linear infinite both;
}

.circulos .circulo {
  position: absolute;
  width: 50%;
  height: 50%;
  transform: scale(5);
  animation: circulo1 50s linear infinite both;
  /* animation: circulo1 100s linear infinite both; */
}

.circulos .circulo1 {
  top: 0%;
  left: 0%;
  fill: #db7600;
}

@keyframes circulo1 {
  form {
    transform: rotate(0deg) scale(3);
  }
  to {
    transform: rotate(360deg) scale(3);
  }
}

.circulos .circulo2 {
  top: 0%;
  right: 0%;
  fill: #4f00db;
}

.circulos .circulo3 {
  bottom: 0%;
  right: 0%;
  fill: #d11f00;
}

.circulos .circulo4 {
  bottom: 0%;
  left: 0%;
  fill: #0a021a;
}

.main {
  margin: 0 0 1em;
  text-align: center;
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.seccion {
  width: 95%;
  min-height: 95vh;
  margin: 1em;
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.seccion .ul {
  margin: 2em 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.seccion ul .li {
  margin: 0 1em;
}

.seccion .info {
  animation: aparecer 2s ease 1s both;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(50%);
  }

  to {
    opacity: 1;
    transform: translate(0%);
  }
}

/* .seccion .info .ul .a {
  font-size: 1.2em;
  border: 2px solid rgba(251, 251, 251, 0.1);
  border-radius: 50%;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease;
  animation: aparecer 3s ease 3s both;
} */

.seccion .info .ul .a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1em;
  width: 12em;
  border: 2px solid rgba(251, 251, 251, 0.1);
  background-color: rgb(255, 254, 254, 0.1);

  border-radius: 10px;
  padding: 0.5em;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease;
  animation: aparecer 3s ease 3s both;
}

.li img {
  height: 1.5em;
}

.li .a .svg {
  width: 1.5em;
  height: 1.5em;
}
.seccion .info .ul > :nth-child(2) .a {
  animation-delay: 5s;
}

.seccion .ul .a:hover {
  border-color: rgb(255, 255, 255);
}

.seccion .circulo {
}

.seccion .circulos {
}

.seccion .name {
  font-family: EBG;
  font-size: 8em;
  opacity: 0.8;
}

.seccion .h2 {
  font-family: var(--tipo-principal);
  font-weight: 600;
  font-size: 6em;
  font-style: italic;
  color: rgb(255, 255, 255, 0.7);
  margin: 1em;
  mix-blend-mode: multiply;
}

.seccion .h3 {
  font-size: 4em;
  font-style: italic;
}

.seccion .p {
}

.seccion .grid {
  width: 90%;
  max-width: 50rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 3fr));
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.proyecto {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 3em;
  padding-bottom: 2em;
}

.proyecto:hover {
  animation: bigproyect 2s ease both;
}

.badge {
  background-color: #198754;
  padding: 0.3em 0.8em;
  border-radius: 10px;
  font-size: 0.8em;
  font-weight: bold;
}

.b1 {
  background-color: #dc3545;
}

.b2 {
  background-color: #ffc107;
  color: #000;
}

.b3 {
  background-color: #198754;
}

.b4 {
  background-color: #0d6efd;
}

@keyframes bigproyect {
  from {
    /*   opacity: 0;
    transform: translateY(50%);
    */
    transform: scale(1);
  }

  to {
    /* opacity: 1;
    transform: translate(0%); */
    transform: scale(1.1);
  }
}

.proyecto:hover .detalle .link {
  grid-template-rows: 1fr;
}
.proyecto .imagen {
  min-width: 50%;
  /*  height: 520px;
 */
  display: flex;
  background-color: #d11f00;
}

.proyecto .imagen .img {
  width: 100%;
}

.proyecto .detalle {
  min-width: 50%;
  padding: 1em;
  /* font-size: 1.5em;
 */
  font-size: clamp(1em, 4vw, 1.2em);
  line-height: 1.8em;
}

.proyecto .link {
  display: grid;
  grid-template-rows: 0fr;
  transition: 3s grid-template-rows ease;
}

.proyecto .link > ul {
  overflow: hidden;
}

.proyecto .link svg {
  width: 3em;
  height: 3em;
}

.seccion .article {
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.article .img {
  width: 100%;
  background-color: aqua;
  background-size: contain;
}

.article .h4 {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(0.5rem);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.8em;
  font-style: italic;
  transform: scale(1.4);
  opacity: 0;
  transition: all 0.5s ease;
}

.seccion .article:hover .h4 {
  opacity: 1;
  transform: scale(1);
}

.seccion .stack {
  width: 30%;
  margin: 1em;
}

.front {
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}
/* 
.logo1,
.logo2 {
  width: 100%;
  height: 5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #4f00db;
} */

.stack .svg {
  width: 5em;
  height: 5em;
}

.contenedor-Tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em;
}

.tech .img {
  width: auto;
  height: 5em;
  margin: 1em;
  /*  box-shadow: #dad9d9 2px 2px; */
}

.tech .svg {
  width: auto;
  height: 5em;
  margin: 0.5em;
}

.tech .tool {
  height: 4em;
  width: auto;
  border-radius: 5px;
  margin: 1em;
}

.tech .label {
  height: 2em;
  width: auto;
  margin: 1em;
}

.seccion .about {
}

.about .h2 {
  margin: 0 0 1rem;
}

.about .p {
  max-width: 60rem;
  text-align: left;
  margin: 0.5em 0.5em 2rem;
  font-size: clamp(1.1em, 5vw, 2em);
}

.about .rrss {
}

.about .li {
}

.about .a {
}

.about svg {
  width: 3em;
  height: 3em;
}

.footer {
  min-height: 10em;
  text-align: center;
  padding: 2em 0;
  font-size: 1em;
  opacity: 0.6;
}

.footer .ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3em;
  font-size: 1.3em;
}

/* Imagen de <a href="https://www.freepik.es/foto-gratis/hamburguesa-ternera-lechuga-tomate_5546673.htm#from_view=detail_alsolike">Freepik</a>
*/

/* Imagen de <a href="https://www.freepik.es/foto-gratis/vista-frontal-hombre-comiendo-pizza-gigante_36029381.htm#&position=6&from_view=collections&uuid=22ecbb0e-b50f-4f53-a623-1323a47dc863">Freepik</a>
*/

@media screen and (max-width: 768px) {
  .seccion {
  }

  .seccion .stack {
    width: 40%;
    margin: 0.5em;
  }

  .tech {
    margin: 0;
  }

  .tech .img {
    width: 2.5em;
    height: auto;
    margin: 0.2em;
  }

  .tech .svg {
    height: 2.5em;
    width: auto;
    margin: 0.1em;
  }

  .tech .label {
    height: 1.5em;
    width: auto;
    margin: 0.1em;
  }

  .stack.tools {
    width: 80%;
  }

  .tech .tool {
    height: auto;
    width: 4em;
    margin: 0.5em;
  }

  .seccion .name {
    font-size: 2.8em !important;
  }

  .seccion .h2 {
    font-size: 4em;
    mix-blend-mode: multiply;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .seccion .h3 {
    font-size: 2em;
    font-style: italic;
  }

  .titulo {
    font-size: 1.8em;
  }

  .proyecto .imagen {
    /*  height: 235px; */
  }
}

@media screen and (max-width: 1200px) {
  .proyecto {
    flex-direction: column;
    width: 90%;
    margin-top: 1em;
  }

  .seccion .name {
    font-size: 5em;
  }

  .proyecto .detalle {
    padding-left: 0;
    padding-right: 0;
  }
  .seccion .proyecto:nth-child(2n + 1) {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1021px) and (max-width: 1500px) {
  .proyecto {
    width: 90%;
  }

  .seccion .name {
    font-size: 6em;
  }
}
